<body class="bg-light">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="error-container text-center p-5">
            <h2 class="text-danger">Oops! Something went wrong.</h2>
            <p class="lead">We apologize for the inconvenience. Please try again later.</p>
            <a class="btn btn-primary" asp-controller="Branch" asp-action="Index">Back to Home Page</a>

        </div>
    </div>
</body>